* {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    background-color: blue;
}

nav {
    width: 100%;
    margin-right: auto;
    margin-left: 15%; 
}

nav ul {
    list-style: none;
    overflow: hidden; /* Limpiamos errores de float */
    
}

nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

nav ul li  {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 20px;
    color: white;
    text-decoration: none;
}

nav ul li:hover {
    background: rgb(176, 213, 245);
    color: blue;
}

nav ul li a {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 20px;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background: rgb(176, 213, 245);
    color: blue;
}



body {
    background-color: white;
}

.encabezado {
    display: flex;
    margin-right: 0;
    width: 100%;
    border-bottom: 3px solid blue;
}

.imagenencabezado {
    text-align: left;
    margin-left: 10%;
    margin-top: 5%;
    margin-right: 0;
}

.tituloencabezado {
    margin-top: 5%;
}

.textoencabezado {
    margin-left: 10%;
    margin-right: 0;
    margin-top: 2%;
    width: 100%;
    text-align: center;
    color: rgb(4, 36, 179);
}

h1.textoencabezado {
    font-size: 35px;
}

h3.textoencabezado {
    font-size: 20px;
}

h5.textoencabezado {
    font-size: 15px;
    margin-bottom: 20px;
}


.piedepagina {
    border-top: 3px solid blue;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.temaspiedepagina {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 25px;
}

.sociepiedepagina {
    color: rgb(4, 36, 179);
}

.titulopiedepagina {
    color: rgb(4, 36, 179);
}

.piedepaginatexto {
    color: rgb(4, 36, 179);
}

.logoigredes {
    text-decoration: none;
}

.logoigredes:visited {
    color: rgb(4, 36, 179);
}

.textohipervinculopiedepagina {
    text-decoration: none;
}

.textohipervinculopiedepagina:visited {
    color: rgb(4, 36, 179);
}

.derechos {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 30px;
}
