body {
    background-color: rgb(176, 213, 245);
}

.encabezado {
    display: flex;
    margin-right: 0;
    width: 100%;
    border-bottom: 1px solid blue;
}

.imagenencabezado {
    text-align: left;
    margin-left: 10%;
    margin-top: 3%;
    margin-right: 0;
}

.tituloencabezado {
    margin-top: 1%;
}

.textoencabezado {
    margin-left: 10%;
    margin-right: 0;
    margin-top: 3%;
    width: 100%;
    text-align: center;
    color: rgb(4, 36, 179);
}


.barranavegacion {
    background-color: rgb(4, 36, 179);
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center; /* Distribuye los elementos equitativamente */
    padding: 0;
}

li {
    margin-left: 60px;
    padding: 10px;
    
}

a {
    text-decoration: none;
    color: #fff;
    font-size:20px;
    font-weight: 500;
}

li:hover {
    background-color: rgb(176, 213, 245);
}


li:hover a {
    background-color: rgb(176, 213, 245);
    color: rgb(4, 36, 179); 
}

h1.textoencabezado {
    font-size: 45px;
}

h3.textoencabezado {
    font-size: 25px;
}

h5.textoencabezado {
    font-size: 20px;
}



