body {
    background-color: rgb(126, 188, 243);
}

div {
    text-align: center;
    display: inline;
}


.textoencabezado {
    color: rgb(2, 39, 202);
    
}


.barranavegacion {
    background-color: rgb(4, 50, 255);
}

.menu {
    text-decoration: none;
    color: white;
}